*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

*.hidden{display: none!important;}
.swal2-container{z-index: 99999}
.swal2-popup{top: var(--height-header);}

@mixin centerFlex{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
body{
  font-family: 'Noto Sans Mende Kikakui', sans-serif;

  // USED EVERYWHERE
  --rgb: var(--tinted-main-light-color);
  --rgb_alt: var(--tinted-main-dark-color);
  --rgb_active: var(--active-light-color);
  // HEADER
  --hf-color: rgba(var(--tinted-second-light-color) / 98%);
  --active-color: rgba(var(--rgb_active) / 100%);
  --hf-color-op:rgba(var(--tinted-second-light-color) / 80%);
  --w: rgba(var(--rgb) / 100%);
  --b: rgba(var(--rgb_alt) / 100%);
  --dark:#2f2f2f;
  --white: #ececec;
  --rgb_border_nc: 27 31 35;
  --btn-main-bg: rgba(var(--rgb) / 100%);

  @media all and (min-width: 1400px) {
    --width-page:50%;
  }
  @media all and (max-width: 600px) {
    --width-page:95%;
  }
  main{
    width: 100%;
    @include centerFlex;
    flex-direction: column;
    background-color: var(--bg-color);

    a{
      text-decoration: none;
      color: inherit;
    }

    header{
      height: var(--height-header);
      display: flex;  
      width: 100%;
      border-bottom: 1px solid #e2e2e2;
      padding: 1em 0;
      position: sticky;
      top: 0;
      background: var(--hf-color);
      z-index: 9999;
      .wrapper-header{
        @include centerFlex;
        width: var(--width-page);
        margin: auto;
        padding: 0;
        // width: 100%;
        .brand-container{
          @include centerFlex;
          flex-direction: row;
          gap: 1em;
          padding: 0.2em;
          border-radius: 8px;
          &:hover{background: var(--w)}
          a{font-size: 1.2em}
          img{max-width: 1.5em}
        }
        label.search-bar{
          margin-left: auto;
          display: flex;
          visibility: hidden;
          input{
            font-size: 15px;
            padding: .3em .8em;
            border: 1px solid #e2e2e2;
            border-radius: 1000px;
            outline: none;
            width: 100%;
          }
        }
        @media all and (max-width: 550px) {
          flex-direction: column;
          gap: 1em;
          label{width: 100%}
        }
      }
    }
    .settings-container{
      position: sticky;
      z-index: 9999;
      top: calc(var(--height-header) - 1px);
      display: flex;
      justify-content: center;
      width: 100%;
      background: var(--w);
      padding: 1em 0;
      .settings-bar-table{
        display: flex;
        justify-content: space-between;
        width: var(--width-page);
        #select_table{display: none}
        .type-table-toggle{
          display: none;
          padding: .5em
        }
        .col-left-sc{
          @include centerFlex;
          flex-wrap: wrap;
          gap: 1em;
          .card-sh{
            background: #eff1f4;
            border: 1px solid #eff1f4;
            border-radius: 1000px;
            padding: .2em .5em;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            padding: .2em;
            padding-right: 0.5em!important;
            gap: 0.5em;
            white-space: nowrap;
            span{
              background: var(--w);
              border-radius: 10000px;
              aspect-ratio: 1;
              width: 2em;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            @media (pointer: fine) {
              &:hover{
                background: var(--active-color);
                border: 1px solid var(--active-color);
                cursor: pointer;
                span{
                  background: rgb(92 170 255);
                }
              }
            }
          }
        }
      }
    }
    
    .title-container{
      &.max{
        margin-top: 2vh;
        display: flex;
        align-items: baseline;
        gap: 0.5em;
      }
      color: var(--white);
    }

    .wrapper-content{
      width: var(--width-page);
      &.top{margin-bottom: 0}
      margin: 3em 0;
      display: flex;
      flex-direction: column;
      .top-content{
        @include centerFlex;
        gap: 2em;
        flex-direction: column;
        margin-bottom: 1em;
        .trending-content{
          @include centerFlex;
          flex-direction: column;
          gap: 1em;
          align-items: flex-start;
          width: 100%;
          i.fa-fire{color: #FBE5A2}
          .line-content-trend{
            @include centerFlex;
            width: 100%;
            display: flex;
            border: 1px solid;
            flex-direction: row;
            overflow: hidden;
            border-radius: 8px;
            color: var(--white);
            .container-overflow{
              overflow-y: auto;
              display: inline-flex;
              gap: 2em;
              padding: .5em;
            }
            .trends-e{
              @include centerFlex;
              white-space: nowrap;
              gap: .5em;
              border: 1px solid transparent;
              padding: .2em .5em;
              border-radius: 1000px;
              @media (pointer: fine) {
                &:hover{
                  background: var(--active-color);
                  border: 1px solid var(--active-color);
                  cursor: pointer;
                }
              }
            }
          }
        }
        .gain-lose-content{
          @include centerFlex;
          @media all and (max-width: 550px) {
            flex-direction: column;
          }
          gap: 1em;
          width: 100%;
          .col{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1em;
            i.fa-circle-arrow-up{color: #179228}
            i.fa-circle-arrow-down{color: #EB3223}
            .card-content-gainers,
            .card-content-losers{
              --padd: 5px;
              --br: 5px;
              box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
              padding: var(--padd);
              border-radius: calc(var(--padd) + var(--br));
              background: var(--hf-color-op);
              display: flex;
              flex-direction: column;
              gap: .5em;
              .line{
                @include centerFlex;
                flex-direction: row;
                justify-content: flex-start;
                border: 1px solid transparent;
                border-radius: var(--br);
                padding: 6px 14px;
                position: relative;
                .stock-title{color: #939393}
                & .right{
                  margin-left: auto;
                  position: absolute;
                  background: #c6cfd9;
                  padding: 0.2em;
                  border-radius: 4px;
                  right: 2px;
                  height: 100%;
                  &.up{color: #179228}
                  &.down{color: #EB3223}
                }
                & .left, & .right{
                  @include centerFlex;
                  flex-direction: row;
                  gap: .5em;
                }
                @media (pointer: fine) {
                  &:hover{
                    background: var(--w);
                    cursor: pointer;
                    & .right{
                      background: var(--w);
                    }
                  }
                }
              }
            }
          }
        }
      }
      .array-content{
        width: 100%;
        min-height: 60vh;
        #table_crypto_wrapper{
          td:first-child {text-align: center}
        }
        #table_crypto_wrapper,
        #table_crypto_unique_wrapper{
          display: flex;
          flex-direction: column;
          .dataTables_scroll{
            background: var(--hf-color-op);
            margin: 1em 0;
            border-radius: 10px;

            table.dataTable tbody tr {
              background-color: transparent;
              cursor: pointer;
              &:hover{
                background: var(--w);
              }
              &.selected *{
                box-shadow: inset 0 0 0 9999px var(--active-color)!important;
                background: var(--active-color)!important;
              }   
            }

          }
        }
        .dataTables_length,
        #table_crypto_filter,
        .dataTables_paginate,
        .dataTables_info{
          display: none;
        }

        .table_crypto{
          &.hidden{display: none}
        }
      }
      .grid_crypto{
        &.hidden{display: none}
        min-height: 20vh;
        background: red;
      }
    }

    footer{
      width: 100%;
      background: var(--hf-color);
      display: flex;
      justify-content: center;
      padding: 1em 0;
      .footer-container{
        @include centerFlex;
        justify-content: space-between;
        flex-direction: row;
        @media all and (max-width: 450px) {
          flex-direction: column;
        }

        width: var(--width-page);
        gap: 1em;
        .col-left-footer{
          display: flex;
          flex-direction: row;
          gap: 1em;
          .brand-container{
            @include centerFlex;
            flex-direction: row;
            gap: .5em;
            img{max-width: 1em}
          }
        }
        a{
          text-decoration: none;
          color: var(--active-color);
        }
      }
    }

    .btn-main {
      &.no-click{cursor: default}
      width: 100%;
      appearance: none;
      background-color: var(--w);
      border: 1px solid rgba(226 226 226 / 100%);
      border-radius: 6px;
      box-shadow: rgba(226 226 226 / 4%) 0 1px 0, rgba(226 226 226 / 25%) 0 1px 0 inset;
      box-sizing: border-box;
      color: var(--b);
      cursor: pointer;
      font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      list-style: none;
      padding: .5em 1em;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      gap: 1em;
      position: relative;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      white-space: nowrap;
      word-wrap: break-word;
    }
  }
  #modal {
    flex-direction: column;
    gap: 1em;
    position: fixed;
    border-radius: 8px;
    padding: .5em;
    background: var(--w);
    border: 1px solid #e2e2e2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    .container-header,
    .container-content{
      @include centerFlex();
    }
    .container-header{
      gap: 1em;
      white-space: nowrap;
      .close-btn{
        background: var(--white);
        border-radius: 1000px;
        aspect-ratio: 1;
        width: 1.6em;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
    .container-content{
      flex-direction: column;
      width: 100%;
      gap: 1em;
      button{
        cursor: pointer;
        justify-content: center;
        background: var(--active-color);
        color: var(--w);
      }
    }
    .btn-main {
      width: 100%;
      appearance: none;
      background-color: var(--btn-main-bg);
      border: 1px solid rgba(var(--rgb_border_nc) / 15%);
      border-radius: 6px;
      box-shadow: rgba(var(--rgb_border_nc) / 4%) 0 1px 0, rgba(var(--rgb_nc) / 25%) 0 1px 0 inset;
      box-sizing: border-box;
      color: var(--b);
      cursor: pointer;
      font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      list-style: none;
      padding: .5em 1em;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      gap: 1em;
      position: relative;
      /*transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);*/
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      white-space: nowrap;
      word-wrap: break-word;
    }
  }
}