*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

*.hidden {
  display: none !important;
}

.swal2-container {
  z-index: 99999;
}

.swal2-popup {
  top: var(--height-header);
}

body {
  font-family: "Noto Sans Mende Kikakui", sans-serif;
  --rgb: var(--tinted-main-light-color);
  --rgb_alt: var(--tinted-main-dark-color);
  --rgb_active: var(--active-light-color);
  --hf-color: rgba(var(--tinted-second-light-color) / 98%);
  --active-color: rgba(var(--rgb_active) / 100%);
  --hf-color-op:rgba(var(--tinted-second-light-color) / 80%);
  --w: rgba(var(--rgb) / 100%);
  --b: rgba(var(--rgb_alt) / 100%);
  --error: rgba(var(--error-color) / 100%);
  --dark:#2f2f2f;
  --white: #ececec;
  --rgb_border_nc: 27 31 35;
  --btn-main-bg: rgba(var(--rgb) / 100%);
}
@media all and (min-width: 1400px) {
  body {
    --width-page:50%;
  }
}
@media all and (max-width: 600px) {
  body {
    --width-page:95%;
  }
}
body main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-color: var(--bg-color);
}
body main a {
  text-decoration: none;
  color: inherit;
}
body main header {
  height: var(--height-header);
  display: flex;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  padding: 1em 0;
  position: sticky;
  top: 0;
  background: var(--hf-color);
  z-index: 9999;
}
body main header .hamburger-menu {
  position: relative;
}
body main header .hamburger-menu .info-more {
  width: 2em;
  cursor: pointer;
  border-radius: 1000px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--btn-main-bg);
}
@media (pointer: fine) {
  body main header .hamburger-menu .info-more:hover {
    outline: 2px solid var(--active-color);
    outline-offset: 2px;
  }
}
body main header .hamburger-menu .hb-container {
  position: absolute;
  background: var(--w);
  padding: 0.2em;
  border-radius: 8px;
  margin-top: 0.5em;
  right: 0;
  list-style: none;
  z-index: 9999;
  min-width: 20vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
body main header .hamburger-menu .hb-container li {
  padding: 0.5em;
  white-space: nowrap;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1em;
}
@media (pointer: fine) {
  body main header .hamburger-menu .hb-container li:hover {
    background: var(--hf-color);
  }
}
body main header .wrapper-header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: var(--width-page);
  margin: auto;
  padding: 0;
  justify-content: space-between;
}
body main header .wrapper-header .brand-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  gap: 1em;
  padding: 0.2em;
  border-radius: 8px;
}
@media (pointer: fine) {
  body main header .wrapper-header .brand-container:hover {
    background: var(--w);
  }
}
body main header .wrapper-header .brand-container a {
  font-size: 1.2em;
}
body main header .wrapper-header .brand-container img {
  max-width: 2em;
}
body main header .wrapper-header label.search-bar {
  margin-left: auto;
  display: flex;
  visibility: hidden;
}
@media all and (max-width: 550px) {
  body main header .wrapper-header label.search-bar {
    display: none;
  }
}
body main header .wrapper-header label.search-bar input {
  font-size: 15px;
  padding: 0.3em 0.8em;
  border: 1px solid #e2e2e2;
  border-radius: 1000px;
  outline: none;
  width: 100%;
}
@media all and (max-width: 550px) {
  body main header .wrapper-header label {
    width: 100%;
  }
}
body main .settings-container {
  position: sticky;
  z-index: 9998;
  top: calc(var(--height-header) - 1px);
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--w);
  padding: 1em 0;
}
body main .settings-container .settings-bar-table {
  display: flex;
  justify-content: space-between;
  width: var(--width-page);
  overflow-x: auto;
}
@media all and (max-width: 450px) {
  body main .settings-container .settings-bar-table {
    padding-bottom: 0.5em;
  }
}
body main .settings-container .settings-bar-table #select_table {
  display: none;
}
body main .settings-container .settings-bar-table .type-table-toggle {
  display: none;
  padding: 0.5em;
}
body main .settings-container .settings-bar-table .col-left-sc {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1em;
}
body main .settings-container .settings-bar-table .col-left-sc .card-sh {
  background: #eff1f4;
  border: 1px solid #eff1f4;
  border-radius: 1000px;
  padding: 0.2em 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.2em;
  padding-right: 0.5em !important;
  gap: 0.5em;
  white-space: nowrap;
}
body main .settings-container .settings-bar-table .col-left-sc .card-sh span {
  background: var(--w);
  border-radius: 10000px;
  aspect-ratio: 1;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (pointer: fine) {
  body main .settings-container .settings-bar-table .col-left-sc .card-sh:hover {
    background: var(--active-color);
    border: 1px solid var(--active-color);
    cursor: pointer;
  }
  body main .settings-container .settings-bar-table .col-left-sc .card-sh:hover span {
    background: rgb(92, 170, 255);
  }
}
body main .title-container {
  color: var(--white);
}
body main .title-container.max {
  margin-top: 2vh;
  display: flex;
  align-items: baseline;
  gap: 0.5em;
}
body main .title-container.logo {
  align-items: center;
}
body main .title-container.logo img {
  width: 1.4em;
  border-radius: 8px;
}
body main .wrapper-content {
  width: var(--width-page);
  margin: 3em 0;
  display: flex;
  flex-direction: column;
}
body main .wrapper-content.top {
  margin-bottom: 0;
}
body main .wrapper-content.array {
  margin-top: 1em;
}
body main .wrapper-content .top-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2em;
  flex-direction: column;
  margin-bottom: 1em;
}
body main .wrapper-content .top-content .trending-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
  width: 100%;
}
body main .wrapper-content .top-content .trending-content i.fa-fire {
  color: #FBE5A2;
}
body main .wrapper-content .top-content .trending-content .line-content-trend {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  display: flex;
  border: 1px solid;
  flex-direction: row;
  overflow: hidden;
  border-radius: 8px;
  color: var(--white);
}
body main .wrapper-content .top-content .trending-content .line-content-trend .container-overflow {
  overflow-y: auto;
  display: inline-flex;
  gap: 2em;
  padding: 0.5em;
}
body main .wrapper-content .top-content .trending-content .line-content-trend .trends-e {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  white-space: nowrap;
  gap: 0.5em;
  border: 1px solid transparent;
  padding: 0.2em;
  border-radius: 1000px;
}
body main .wrapper-content .top-content .trending-content .line-content-trend .trends-e .col {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  white-space: nowrap;
  gap: 0.5em;
  padding: 0.2em 0.5em;
  border-radius: 1000px;
}
body main .wrapper-content .top-content .trending-content .line-content-trend .trends-e .col.up {
  background: #179228 !important;
}
body main .wrapper-content .top-content .trending-content .line-content-trend .trends-e .col.down {
  background: #EB3223 !important;
}
@media (pointer: fine) {
  body main .wrapper-content .top-content .trending-content .line-content-trend .trends-e:hover {
    background: var(--active-color);
    border: 1px solid var(--active-color);
    cursor: pointer;
  }
}
body main .wrapper-content .top-content .gain-lose-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1em;
  width: 100%;
}
@media all and (max-width: 550px) {
  body main .wrapper-content .top-content .gain-lose-content {
    flex-direction: column;
  }
}
body main .wrapper-content .top-content .gain-lose-content .col {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
body main .wrapper-content .top-content .gain-lose-content .col i.fa-circle-arrow-up {
  color: #179228;
}
body main .wrapper-content .top-content .gain-lose-content .col i.fa-circle-arrow-down {
  color: #EB3223;
}
body main .wrapper-content .top-content .gain-lose-content .col .card-content-gainers,
body main .wrapper-content .top-content .gain-lose-content .col .card-content-losers {
  --padd: 5px;
  --br: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: var(--padd);
  border-radius: calc(var(--padd) + var(--br));
  background: var(--hf-color-op);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
body main .wrapper-content .top-content .gain-lose-content .col .card-content-gainers .line,
body main .wrapper-content .top-content .gain-lose-content .col .card-content-losers .line {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid transparent;
  border-radius: var(--br);
  padding: 6px 14px;
  position: relative;
}
body main .wrapper-content .top-content .gain-lose-content .col .card-content-gainers .line .stock-title,
body main .wrapper-content .top-content .gain-lose-content .col .card-content-losers .line .stock-title {
  color: #939393;
}
body main .wrapper-content .top-content .gain-lose-content .col .card-content-gainers .line .right,
body main .wrapper-content .top-content .gain-lose-content .col .card-content-losers .line .right {
  margin-left: auto;
  position: absolute;
  background: #c6cfd9;
  padding: 0.2em;
  border-radius: 4px;
  right: 2px;
  height: 100%;
}
body main .wrapper-content .top-content .gain-lose-content .col .card-content-gainers .line .right.up,
body main .wrapper-content .top-content .gain-lose-content .col .card-content-losers .line .right.up {
  color: #179228;
}
body main .wrapper-content .top-content .gain-lose-content .col .card-content-gainers .line .right.down,
body main .wrapper-content .top-content .gain-lose-content .col .card-content-losers .line .right.down {
  color: #EB3223;
}
body main .wrapper-content .top-content .gain-lose-content .col .card-content-gainers .line .left, body main .wrapper-content .top-content .gain-lose-content .col .card-content-gainers .line .right,
body main .wrapper-content .top-content .gain-lose-content .col .card-content-losers .line .left,
body main .wrapper-content .top-content .gain-lose-content .col .card-content-losers .line .right {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  gap: 0.5em;
}
@media (pointer: fine) {
  body main .wrapper-content .top-content .gain-lose-content .col .card-content-gainers .line:hover,
  body main .wrapper-content .top-content .gain-lose-content .col .card-content-losers .line:hover {
    background: var(--w);
    cursor: pointer;
  }
  body main .wrapper-content .top-content .gain-lose-content .col .card-content-gainers .line:hover .right,
  body main .wrapper-content .top-content .gain-lose-content .col .card-content-losers .line:hover .right {
    background: var(--w);
  }
}
body main .wrapper-content .container-error {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1em;
  background: var(--w);
  padding: 1em;
  border-radius: 8px;
  color: var(--error);
}
body main .wrapper-content .array-content {
  width: 100%;
  min-height: 60vh;
}
body main .wrapper-content .array-content #table_crypto_wrapper td:first-child {
  text-align: center;
}
body main .wrapper-content .array-content #table_crypto_wrapper,
body main .wrapper-content .array-content #table_crypto_unique_wrapper {
  display: flex;
  flex-direction: column;
}
body main .wrapper-content .array-content #table_crypto_wrapper .dataTables_scroll,
body main .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_scroll {
  background: var(--hf-color-op);
  margin: 1em 0;
  border-radius: 10px;
}
body main .wrapper-content .array-content #table_crypto_wrapper .dataTables_scroll table.dataTable tbody tr,
body main .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_scroll table.dataTable tbody tr {
  background-color: transparent;
  cursor: pointer;
}
body main .wrapper-content .array-content #table_crypto_wrapper .dataTables_scroll table.dataTable tbody tr:hover,
body main .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_scroll table.dataTable tbody tr:hover {
  background: var(--w);
}
body main .wrapper-content .array-content #table_crypto_wrapper .dataTables_scroll table.dataTable tbody tr.selected *,
body main .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_scroll table.dataTable tbody tr.selected * {
  box-shadow: inset 0 0 0 9999px var(--active-color) !important;
  background: var(--active-color) !important;
}
body main .wrapper-content .array-content .dataTables_length,
body main .wrapper-content .array-content #table_crypto_filter,
body main .wrapper-content .array-content .dataTables_paginate,
body main .wrapper-content .array-content .dataTables_info {
  display: none;
}
body main .wrapper-content .array-content .table_crypto.hidden {
  display: none;
}
body main .wrapper-content .grid_crypto {
  min-height: 20vh;
  background: red;
}
body main .wrapper-content .grid_crypto.hidden {
  display: none;
}
body main footer {
  width: 100%;
  background: var(--hf-color);
  display: flex;
  justify-content: center;
  padding: 1em 0;
}
body main footer .footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  width: var(--width-page);
  gap: 1em;
}
@media all and (max-width: 450px) {
  body main footer .footer-container {
    flex-direction: column;
  }
}
body main footer .footer-container .col-left-footer {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
body main footer .footer-container .col-left-footer .brand-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  gap: 0.5em;
}
body main footer .footer-container .col-left-footer .brand-container img {
  max-width: 1em;
}
body main footer .footer-container a {
  text-decoration: none;
  color: var(--active-color);
}
body main .btn-main {
  width: 100%;
  appearance: none;
  background-color: var(--w);
  border: 1px solid rgb(226, 226, 226);
  border-radius: 6px;
  box-shadow: rgba(226, 226, 226, 0.04) 0 1px 0, rgba(226, 226, 226, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: var(--b);
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 0.5em 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 1em;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
body main .btn-main.no-click {
  cursor: default;
}
body #modal {
  flex-direction: column;
  gap: 1em;
  position: fixed;
  border-radius: 8px;
  padding: 0.5em;
  background: var(--w);
  border: 1px solid #e2e2e2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
body #modal .container-header,
body #modal .container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
body #modal .container-header {
  gap: 1em;
  white-space: nowrap;
}
body #modal .container-header .close-btn {
  background: var(--white);
  border-radius: 1000px;
  aspect-ratio: 1;
  width: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body #modal .container-content {
  flex-direction: column;
  width: 100%;
  gap: 1em;
}
body #modal .container-content button {
  cursor: pointer;
  justify-content: center;
  background: var(--active-color);
  color: var(--w);
}
body #modal .btn-main {
  width: 100%;
  appearance: none;
  background-color: var(--btn-main-bg);
  border: 1px solid rgba(var(--rgb_border_nc)/15%);
  border-radius: 6px;
  box-shadow: rgba(var(--rgb_border_nc)/4%) 0 1px 0, rgba(var(--rgb_nc)/25%) 0 1px 0 inset;
  box-sizing: border-box;
  color: var(--b);
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 0.5em 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 1em;
  position: relative;
  /*transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);*/
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}