*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

*.hidden {
  display: none !important;
}

.swal2-container {
  z-index: 99999;
}

.swal2-popup {
  top: var(--height-header);
}

body {
  font-family: "Noto Sans Mende Kikakui", sans-serif;
}
@media all and (min-width: 1400px) {
  body {
    --width-page:70%;
  }
}
@media all and (max-width: 800px) {
  body {
    --width-page:95%;
  }
}
body main {
  --br: 8px;
  width: 100%;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color);
}
body main a {
  text-decoration: none;
  color: inherit;
}
body main header {
  height: var(--height-header);
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--rgb_border);
  padding: 1em 0;
  color: var(--b);
  position: sticky;
  top: 0;
  background: var(--hf-color);
  z-index: 9999;
}
@media all and (max-width: 500px) {
  body main header {
    --height-header: auto;
  }
  body main header .hamburger-menu {
    font-size: 0.9em;
  }
  body main header .brand-container {
    font-size: 0.8em;
  }
}
body main header .hamburger-menu {
  position: relative;
}
body main header .hamburger-menu .info-more {
  width: 2em;
  cursor: pointer;
  border-radius: 1000px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--btn-main-bg);
}
@media (pointer: fine) {
  body main header .hamburger-menu .info-more:hover {
    outline: 2px solid var(--active-color);
    outline-offset: 2px;
  }
}
body main header .hamburger-menu .hb-container {
  position: absolute;
  background: var(--w);
  padding: 0.2em;
  border-radius: var(--br);
  margin-top: 0.5em;
  right: 0;
  list-style: none;
  z-index: 9999;
  min-width: 20vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
@media all and (max-width: 500px) {
  body main header .hamburger-menu .hb-container {
    font-size: 1.2em;
  }
}
body main header .hamburger-menu .hb-container li,
body main header .hamburger-menu .hb-container label {
  padding: 0.5em;
  white-space: nowrap;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1em;
}
body main header .hamburger-menu .hb-container li input,
body main header .hamburger-menu .hb-container label input {
  display: none;
}
body main header .hamburger-menu .hb-container li .tog_dm_icon,
body main header .hamburger-menu .hb-container label .tog_dm_icon {
  transition: 0.5s;
}
body main header .hamburger-menu .hb-container li .tog_dm_icon.rotate180,
body main header .hamburger-menu .hb-container label .tog_dm_icon.rotate180 {
  rotate: 180deg;
}
@media (pointer: fine) {
  body main header .hamburger-menu .hb-container li:hover,
  body main header .hamburger-menu .hb-container label:hover {
    background: var(--hf-color);
  }
}
body main header .wrapper-header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: var(--width-page);
  margin: auto;
  padding: 0;
  justify-content: space-between;
}
body main header .wrapper-header .brand-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  gap: 1em;
  padding: 0.2em;
  border-radius: var(--br);
}
@media (pointer: fine) {
  body main header .wrapper-header .brand-container:hover {
    background: var(--w);
  }
}
body main header .wrapper-header .brand-container a {
  font-size: 1.2em;
}
body main header .wrapper-header .brand-container img {
  max-width: 2em;
}
body main header .wrapper-header label.search-bar {
  margin-left: auto;
  display: flex;
  visibility: hidden;
}
@media all and (max-width: 550px) {
  body main header .wrapper-header label.search-bar {
    display: none;
  }
}
body main header .wrapper-header label.search-bar input {
  font-size: 15px;
  padding: 0.3em 0.8em;
  border: 1px solid #e2e2e2;
  border-radius: 1000px;
  outline: none;
  width: 100%;
}
@media all and (max-width: 550px) {
  body main header .wrapper-header label {
    width: 100%;
  }
}
body main .new {
  background-image: url("/resources/img/bg-dark.svg");
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: 1px solid var(--btn-main-bg);
  border-radius: var(--br);
  padding: 1em;
  width: var(--width-page);
  margin: 2em 0 0;
  color: var(--white);
}
body main .new .top-line {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
body main .new .top-line .close-banner {
  cursor: pointer;
  border-radius: 1000px;
  aspect-ratio: 1;
  width: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media (pointer: fine) {
  body main .new .top-line .close-banner:hover {
    background: var(--hf-color-op);
    color: var(--b);
  }
}
body main .new .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1em 0 0;
  gap: 1em;
}
body main .new .buttons .telegram,
body main .new .buttons .x-com {
  width: fit-content;
}
body main .title-container {
  color: var(--white);
}
body main .title-container.max {
  margin-top: 0;
  display: flex;
  align-items: baseline;
  gap: 0.5em;
  overflow: auto;
  padding-bottom: 0.5em;
}
body main .title-container.logo {
  align-items: center;
}
body main .title-container.logo img {
  width: 1.4em;
  border-radius: var(--br);
}
body main .head-layout-crypto {
  width: var(--width-page);
  margin: 2em 0;
}
body main .head-layout-crypto .duplicated-info {
  margin-top: 1em;
}
body main .head-layout-crypto .duplicated-info .duplicated-info-container {
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding-bottom: 0.5em;
}
body main .head-layout-crypto .duplicated-info .duplicated-info-container .duplicated-info-card {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0.5em;
  background: var(--card-g-l);
  border-radius: 1000px;
  padding: 0.2em 0.5em;
  border: 1px solid var(--btn-main-bg);
  color: var(--b);
}
@media all and (min-width: 700px) {
  body main .head-layout-crypto .duplicated-info {
    display: none;
  }
}
body main .container-split {
  --gap-side-bar:2em;
  margin-top: 3em;
  display: grid;
  grid-template-columns: var(--width-left-column) calc(100% - var(--width-left-column) - var(--gap-side-bar));
  grid-gap: var(--gap-side-bar);
  width: var(--width-page);
}
body main .container-split .grey {
  color: var(--grey);
}
body main .container-split.crypto {
  margin-top: 0;
}
body main .container-split.crypto.no-more-info {
  grid-template-columns: 1fr;
  margin-bottom: auto;
}
@media all and (min-width: 700px) {
  body main .container-split.crypto {
    margin-bottom: auto;
  }
}
@media all and (max-width: 700px) {
  body main .container-split {
    grid-template-columns: 100%;
  }
  body main .container-split .col-more-info {
    display: none;
  }
}
body main .container-split .col-more-info {
  width: 100%;
  height: 100%;
}
body main .container-split .col-more-info .content-displayed {
  position: sticky;
  top: calc(var(--height-header) + var(--margin-from-header));
  height: fit-content;
  overflow: hidden;
  display: flex;
  gap: 1em;
  flex-direction: column;
  margin-bottom: 3em;
}
body main .container-split .col-more-info .content-displayed .w_bg {
  padding: 0.5em;
  color: var(--b);
  background: var(--w);
  border-radius: var(--br);
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-height: 70vh;
  border: 1px solid var(--btn-main-bg);
}
body main .container-split .col-more-info .content-displayed .w_bg .summary {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  justify-content: flex-start;
  padding-right: 0.5em;
  gap: 1em;
}
body main .container-split .col-more-info .content-displayed .w_bg .summary .container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
body main .container-split .col-more-info .content-displayed .w_bg .summary .container .h4 {
  font-size: 1.1em;
}
body main .container-split .col-more-info .content-displayed .w_bg .summary .container .h5 {
  font-size: 0.9em;
  margin: 0.5em 1em 0;
}
body main .container-split .col-more-info .content-displayed .w_bg .summary .container .h4,
body main .container-split .col-more-info .content-displayed .w_bg .summary .container .h5 {
  border-radius: calc(var(--br) / 2);
  padding: 0.2em;
}
body main .container-split .col-more-info .content-displayed .w_bg .summary .container .h4.clicked,
body main .container-split .col-more-info .content-displayed .w_bg .summary .container .h5.clicked {
  text-decoration: underline;
}
@media (pointer: fine) {
  body main .container-split .col-more-info .content-displayed .w_bg .summary .container .h4:hover,
  body main .container-split .col-more-info .content-displayed .w_bg .summary .container .h5:hover {
    background: var(--hf-color);
  }
}
body main .container-split .col-more-info .content-displayed .w_bg .crypto-info {
  min-height: 40vh;
}
body main .container-split .col-more-info .content-displayed .w_bg .crypto-info .crypto-info-top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1em;
  flex-direction: column;
  align-items: flex-end;
}
body main .container-split .col-more-info .content-displayed .w_bg .crypto-info .crypto-info-top-container .crypto-info-top-line,
body main .container-split .col-more-info .content-displayed .w_bg .crypto-info .crypto-info-top-container .crypto-info-line {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: baseline;
  gap: 0.5em;
  width: 100%;
}
body main .container-split .col-more-info .content-displayed .w_bg .crypto-info .crypto-info-top-container .crypto-info-top-line .top-line-fc,
body main .container-split .col-more-info .content-displayed .w_bg .crypto-info .crypto-info-top-container .crypto-info-line .top-line-fc {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-basis: 100%;
  gap: 0.5em;
}
body main .container-split .col-more-info .content-displayed .w_bg .crypto-info .crypto-info-top-container .crypto-info-top-line:first-child,
body main .container-split .col-more-info .content-displayed .w_bg .crypto-info .crypto-info-top-container .crypto-info-line:first-child {
  background: var(--hf-color);
  padding: 0.5em;
  border-radius: 3px;
}
body main .container-split .col-more-info .content-displayed .w_bg .crypto-info .crypto-info-top-container .crypto-info-top-line:first-child [class$=-label]:after,
body main .container-split .col-more-info .content-displayed .w_bg .crypto-info .crypto-info-top-container .crypto-info-line:first-child [class$=-label]:after {
  display: none;
}
body main .container-split .col-more-info .content-displayed .w_bg .crypto-info .crypto-info-top-container .crypto-info-top-line [class$=-label],
body main .container-split .col-more-info .content-displayed .w_bg .crypto-info .crypto-info-top-container .crypto-info-line [class$=-label] {
  flex-basis: 100%;
  position: relative;
}
body main .container-split .col-more-info .content-displayed .w_bg .crypto-info .crypto-info-top-container .crypto-info-top-line [class$=-label]:after,
body main .container-split .col-more-info .content-displayed .w_bg .crypto-info .crypto-info-top-container .crypto-info-line [class$=-label]:after {
  position: absolute;
  width: -webkit-fill-available;
  content: " ";
  background: var(--card-g-l);
  height: 2px;
  translate: 0 -50%;
  top: 50%;
  margin-left: 1em;
  border-radius: 1000px;
}
body main .container-split .col-more-info .content-displayed .w_bg .crypto-info .crypto-info-top-container .crypto-info-top-line .bold,
body main .container-split .col-more-info .content-displayed .w_bg .crypto-info .crypto-info-top-container .crypto-info-line .bold {
  font-weight: bold;
}
body main .container-split .col-more-info .content-displayed .w_bg h3 {
  display: flex;
  align-items: center;
  gap: 0.5em;
  background: var(--bg-color);
  border-radius: 4px;
  color: var(--white);
  padding: 0.5em;
}
body main .container-split .col-more-info .content-displayed .w_bg .user-trends {
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding-bottom: 0.5em;
}
body main .container-split .col-more-info .content-displayed .w_bg .user-trends .user-trend-card {
  position: relative;
  font-weight: bold;
  min-width: var(--card-aside-user-trends);
  aspect-ratio: 1;
  cursor: pointer;
  background: linear-gradient(135deg, #7bbfdd 0%, #1b346c 100%);
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}
body main .container-split .col-more-info .content-displayed .w_bg .user-trends .user-trend-card[data-value=init] {
  display: none;
}
body main .container-split .col-more-info .content-displayed .w_bg .user-trends .user-trend-card .user-trend-card-nb {
  position: absolute;
  background: var(--w);
  aspect-ratio: 1;
  width: 100%;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -30px;
  right: -30px;
  font-size: 5em;
  opacity: 0.2;
}
body main .container-split .col-more-info .content-displayed .w_bg .user-trends .user-trend-card .user-trend-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  margin: 0.5em;
  color: var(--w);
}
body main .container-split .col-more-info .content-displayed .w_bg .user-trends .user-trend-card .user-trend-card-container .user-trend-card-name {
  font-size: 1.8em;
}
body main .container-split .col-more-info .content-displayed .w_bg .user-trends .user-trend-card .user-trend-card-container .user-trend-card-value {
  font-size: 1.2em;
  margin-left: 0.8em;
  position: relative;
}
body main .container-split .col-more-info .content-displayed .w_bg .user-trends .user-trend-card .user-trend-card-container .user-trend-card-value::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 10%;
  aspect-ratio: 1;
  border-radius: 1000px;
  translate: -0.5em -50%;
}
body main .container-split .col-more-info .content-displayed .w_bg .user-trends .user-trend-card .user-trend-card-container .user-trend-card-value.up::before {
  background: var(--up);
}
body main .container-split .col-more-info .content-displayed .w_bg .user-trends .user-trend-card .user-trend-card-container .user-trend-card-value.down::before {
  background: var(--down);
}
body main .container-split .col-more-info .content-displayed .w_bg .settings-bar-table {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  padding-bottom: 0.5em;
}
@media all and (max-width: 450px) {
  body main .container-split .col-more-info .content-displayed .w_bg .settings-bar-table {
    padding-bottom: 0.5em;
  }
}
body main .container-split .col-more-info .content-displayed .w_bg .settings-bar-table #select_table {
  display: none;
}
body main .container-split .col-more-info .content-displayed .w_bg .settings-bar-table .type-table-toggle {
  display: none;
  padding: 0.5em;
}
body main .container-split .col-more-info .content-displayed .w_bg .settings-bar-table .col-left-sc {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1em;
}
body main .container-split .col-more-info .content-displayed .w_bg .settings-bar-table .col-left-sc .card-sh {
  border: 1px solid var(--bg-color);
  border-radius: 1000px;
  padding: 0.2em 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.2em;
  padding-right: 0.5em !important;
  gap: 0.5em;
  white-space: nowrap;
}
body main .container-split .col-more-info .content-displayed .w_bg .settings-bar-table .col-left-sc .card-sh span {
  background: var(--w);
  border-radius: 10000px;
  aspect-ratio: 1;
  width: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (pointer: fine) {
  body main .container-split .col-more-info .content-displayed .w_bg .settings-bar-table .col-left-sc .card-sh:hover {
    background: var(--w);
    cursor: pointer;
  }
}
body main .container-split .col-content {
  width: 100%;
  height: 100%;
}
body main .container-split .col-content .info-crypto {
  margin-bottom: 2em;
  background: var(--hf-color-op);
  border-radius: var(--br);
  padding: 1em;
  border: 1px solid var(--w);
}
body main .container-split .col-content .info-crypto h2 {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}
body main .container-split .col-content .info-crypto h2 .info-crypto-text {
  margin-right: auto;
}
body main .container-split .col-content .info-crypto h2 .read-more {
  width: fit-content;
}
body main .container-split .col-content .info-crypto .description-text {
  text-align: justify;
}
body main .container-split .col-content .info-crypto .description-text ul {
  margin: 1em 0 1em 1em;
}
body main .container-split .col-content .info-crypto .description-text h3 {
  margin: 1em 0;
}
body main .container-split .col-content .info-crypto .more {
  display: none;
}
body main .container-split .col-content .privacy-content {
  color: var(--white);
  margin-bottom: 3em;
  text-align: justify;
}
body main .container-split .col-content .privacy-content h1, body main .container-split .col-content .privacy-content h2, body main .container-split .col-content .privacy-content h3, body main .container-split .col-content .privacy-content h4, body main .container-split .col-content .privacy-content h5, body main .container-split .col-content .privacy-content h6, body main .container-split .col-content .privacy-content li, body main .container-split .col-content .privacy-content p {
  margin: 0 0 1em;
}
body main .container-split .col-content .privacy-content h2, body main .container-split .col-content .privacy-content h3 {
  border-radius: var(--br);
  position: relative;
}
body main .container-split .col-content .privacy-content h2::before, body main .container-split .col-content .privacy-content h3::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -0.5em;
  width: 10%;
  max-width: 8px;
  aspect-ratio: 1;
  border-radius: 1000px;
  translate: -0.5em -50%;
}
body main .container-split .col-content .privacy-content h2:target, body main .container-split .col-content .privacy-content h3:target {
  margin-left: 1em;
}
body main .container-split .col-content .privacy-content h2:target::before, body main .container-split .col-content .privacy-content h3:target::before {
  background: var(--active-color);
}
body main .container-split .col-content .privacy-content ul {
  margin: 2em 1em 2em 3em;
}
body main .container-split .col-content .privacy-content span {
  background: rgba(134, 209, 235, 0.2705882353);
  border-radius: calc(var(--br) / 2);
  padding: 0 0.2em;
}
body main .container-split .col-content .privacy-content .header-privacy {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1em;
  gap: 1em;
}
body main .container-split .col-content .privacy-content .header-privacy * {
  margin: 0;
}
body main .container-split .col-content .privacy-content .header-privacy .date {
  background: var(--hf-color-op);
  padding: 0.5em;
  border-radius: var(--br);
  color: var(--b);
}
body main .container-split .col-content .wrapper-content {
  gap: 1em;
  color: var(--b);
  margin: 3em 0;
  display: flex;
  flex-direction: column;
}
body main .container-split .col-content .wrapper-content.top {
  margin: 0;
}
body main .container-split .col-content .wrapper-content.array {
  margin-top: 0;
  margin-bottom: 2em;
}
body main .container-split .col-content .wrapper-content.array .description-array-crypto {
  display: none;
}
body main .container-split .col-content .wrapper-content.array p:not(.error-loading-data-text) {
  color: var(--white);
}
body main .container-split .col-content .wrapper-content.title {
  border-top: 1px solid var(--w);
  margin-bottom: 0;
}
body main .container-split .col-content .wrapper-content.title h2 {
  margin-top: 1em;
}
body main .container-split .col-content .wrapper-content.table {
  margin-top: 1em;
}
body main .container-split .col-content .wrapper-content .top-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2em;
  flex-direction: column;
  margin-bottom: 1em;
}
body main .container-split .col-content .wrapper-content .top-content .duplicated-user-trends {
  display: none;
  width: 100%;
}
body main .container-split .col-content .wrapper-content .top-content .duplicated-user-trends h2 {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--white);
  margin-bottom: 0.5em;
}
body main .container-split .col-content .wrapper-content .top-content .duplicated-user-trends .user-trends-dup {
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding-bottom: 0.5em;
}
body main .container-split .col-content .wrapper-content .top-content .duplicated-user-trends .user-trends-dup .user-trend-card {
  position: relative;
  font-weight: bold;
  min-width: var(--card-aside-user-trends);
  aspect-ratio: 1;
  cursor: pointer;
  background: linear-gradient(135deg, #7bbfdd 0%, #1b346c 100%);
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}
body main .container-split .col-content .wrapper-content .top-content .duplicated-user-trends .user-trends-dup .user-trend-card[data-value=init] {
  display: none;
}
body main .container-split .col-content .wrapper-content .top-content .duplicated-user-trends .user-trends-dup .user-trend-card .user-trend-card-nb {
  position: absolute;
  background: var(--w);
  aspect-ratio: 1;
  width: 100%;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -30px;
  right: -30px;
  font-size: 5em;
  opacity: 0.2;
}
body main .container-split .col-content .wrapper-content .top-content .duplicated-user-trends .user-trends-dup .user-trend-card .user-trend-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  margin: 0.5em;
  color: var(--w);
}
body main .container-split .col-content .wrapper-content .top-content .duplicated-user-trends .user-trends-dup .user-trend-card .user-trend-card-container .user-trend-card-name {
  font-size: 1.8em;
}
body main .container-split .col-content .wrapper-content .top-content .duplicated-user-trends .user-trends-dup .user-trend-card .user-trend-card-container .user-trend-card-value {
  font-size: 1.2em;
  margin-left: 0.8em;
  position: relative;
}
body main .container-split .col-content .wrapper-content .top-content .duplicated-user-trends .user-trends-dup .user-trend-card .user-trend-card-container .user-trend-card-value::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 10%;
  aspect-ratio: 1;
  border-radius: 1000px;
  translate: -0.5em -50%;
}
body main .container-split .col-content .wrapper-content .top-content .duplicated-user-trends .user-trends-dup .user-trend-card .user-trend-card-container .user-trend-card-value.up::before {
  background: var(--up);
}
body main .container-split .col-content .wrapper-content .top-content .duplicated-user-trends .user-trends-dup .user-trend-card .user-trend-card-container .user-trend-card-value.down::before {
  background: var(--down);
}
@media all and (max-width: 500px) {
  body main .container-split .col-content .wrapper-content .top-content .duplicated-user-trends {
    display: block;
  }
}
body main .container-split .col-content .wrapper-content .top-content .trending-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
  width: 100%;
}
body main .container-split .col-content .wrapper-content .top-content .trending-content i.fa-fire {
  color: #FBE5A2;
}
body main .container-split .col-content .wrapper-content .top-content .trending-content .line-content-trend {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  border: 1px solid transparent;
  justify-content: flex-start;
  flex-direction: row;
  overflow: hidden;
  border-radius: var(--br);
  background: var(--card-g-l);
  border: 1px solid var(--btn-main-bg);
  color: var(--b);
}
body main .container-split .col-content .wrapper-content .top-content .trending-content .line-content-trend .container-overflow {
  overflow-y: auto;
  display: inline-flex;
  gap: 2em;
  padding: 0.5em;
}
body main .container-split .col-content .wrapper-content .top-content .trending-content .line-content-trend .trends-e {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  white-space: nowrap;
  gap: 0.5em;
  border: 1px solid transparent;
  padding: 0.2em;
  border-radius: 1000px;
}
body main .container-split .col-content .wrapper-content .top-content .trending-content .line-content-trend .trends-e .col {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  white-space: nowrap;
  gap: 0.5em;
  padding: 0.2em 0.5em;
  border-radius: 1000px;
  color: var(--white);
}
body main .container-split .col-content .wrapper-content .top-content .trending-content .line-content-trend .trends-e .col.up {
  background: var(--up) !important;
}
body main .container-split .col-content .wrapper-content .top-content .trending-content .line-content-trend .trends-e .col.down {
  background: var(--down) !important;
}
@media (pointer: fine) {
  body main .container-split .col-content .wrapper-content .top-content .trending-content .line-content-trend .trends-e:hover {
    background: var(--w);
    cursor: pointer;
  }
}
body main .container-split .col-content .wrapper-content .top-content .gain-lose-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1em;
  width: 100%;
}
@media all and (max-width: 1000px) {
  body main .container-split .col-content .wrapper-content .top-content .gain-lose-content {
    flex-direction: column;
  }
}
body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col i.fa-circle-arrow-up {
  color: var(--up);
}
body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col i.fa-circle-arrow-down {
  color: var(--down);
}
body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col .card-content-gainers,
body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col .card-content-losers {
  --padd: 5px;
  --br: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: var(--padd);
  border: 1px solid var(--btn-main-bg);
  border-radius: calc(var(--padd) + var(--br));
  background: var(--hf-color-op);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col .card-content-gainers .line,
body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col .card-content-losers .line {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid transparent;
  border-radius: var(--br);
  padding: 6px 14px;
  position: relative;
}
body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col .card-content-gainers .line .stock-title,
body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col .card-content-losers .line .stock-title {
  color: #939393;
}
body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col .card-content-gainers .line .right,
body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col .card-content-losers .line .right {
  margin-left: auto;
  position: absolute;
  background: var(--card-g-l);
  padding: 0.2em;
  border-radius: 4px;
  right: 2px;
  height: 100%;
}
body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col .card-content-gainers .line .right.up,
body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col .card-content-losers .line .right.up {
  color: var(--up);
}
body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col .card-content-gainers .line .right.down,
body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col .card-content-losers .line .right.down {
  color: var(--down);
}
body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col .card-content-gainers .line .left, body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col .card-content-gainers .line .right,
body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col .card-content-losers .line .left,
body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col .card-content-losers .line .right {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  gap: 0.5em;
}
@media (pointer: fine) {
  body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col .card-content-gainers .line:hover,
  body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col .card-content-losers .line:hover {
    background: var(--w);
    cursor: pointer;
  }
  body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col .card-content-gainers .line:hover .right,
  body main .container-split .col-content .wrapper-content .top-content .gain-lose-content .col .card-content-losers .line:hover .right {
    background: var(--w);
  }
}
body main .container-split .col-content .wrapper-content .container-error {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1em;
  background: var(--w);
  padding: 1em;
  border-radius: var(--br);
  color: var(--error);
}
body main .container-split .col-content .wrapper-content .array-content {
  width: 100%;
  min-height: 60vh;
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper td:first-child {
  text-align: center;
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper {
  display: flex;
  flex-direction: column;
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_paginate,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_paginate {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: var(--hf-color);
  color: var(--b);
  border-radius: var(--br);
  padding: 0.5em;
  border: 1px solid var(--btn-main-bg);
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_paginate .paginate_button,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_paginate .paginate_button {
  cursor: pointer;
  color: var(--b) !important;
  border-radius: 1000px;
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_paginate .paginate_button:hover,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_paginate .paginate_button:hover {
  outline: 2px solid var(--active-color);
  outline-offset: 2px;
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_paginate .paginate_button:hover, body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_paginate .paginate_button:active,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_paginate .paginate_button:hover,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_paginate .paginate_button:active {
  border: 1px solid var(--card-g-l);
  background: var(--hf-color);
  box-shadow: none;
  color: var(--b) !important;
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_paginate .element_icon,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_paginate .element_icon {
  position: absolute;
  top: -0.8em;
  right: -0.8em;
  background-color: var(--w);
  cursor: pointer;
  border: 1px solid var(--card-g-l);
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 1000px;
  aspect-ratio: 1;
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_paginate .element_icon i,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_paginate .element_icon i {
  transition: 0.2s;
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_paginate .element_icon i.unpin,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_paginate .element_icon i.unpin {
  rotate: 45deg;
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_paginate.pin-dock,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_paginate.pin-dock {
  position: sticky;
  bottom: 1em;
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_info,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_info {
  text-align: end;
  margin: 0 0 1em;
  padding: 0;
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper label select,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper label select {
  background: var(--w);
  color: var(--b);
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_info,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_length,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_info,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_filter,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_length,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_info,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_filter {
  color: var(--white);
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_length label,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_info label,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_filter label,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_length label,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_info label,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_filter label {
  color: var(--white);
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_length label input,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_info label input,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_filter label input,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_length label input,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_info label input,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_filter label input {
  background: var(--w);
  color: var(--b);
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_scroll,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_scroll {
  background: var(--hf-color-op);
  margin: 1em 0;
  border-radius: var(--br);
  overflow: hidden;
  border: 1px solid var(--btn-main-bg);
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_scroll .row_table_def,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_scroll .row_table_def {
  background: var(--w);
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_scroll table.dataTable tbody .dataTables_empty,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_scroll table.dataTable tbody .dataTables_empty {
  color: var(--error);
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_scroll table.dataTable tbody tr,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_scroll table.dataTable tbody tr {
  background-color: transparent;
  cursor: pointer;
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_scroll table.dataTable tbody tr:hover,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_scroll table.dataTable tbody tr:hover {
  background: var(--w);
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_wrapper .dataTables_scroll table.dataTable tbody tr.selected *,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_scroll table.dataTable tbody tr.selected * {
  box-shadow: inset 0 0 0 9999px var(--active-color) !important;
  background: var(--active-color) !important;
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper {
  background: var(--hf-color-op);
  border-radius: var(--br);
  padding: 1em;
  border: 1px solid var(--w);
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_length,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_info,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_filter {
  color: var(--b);
}
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_length label,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_info label,
body main .container-split .col-content .wrapper-content .array-content #table_crypto_unique_wrapper .dataTables_filter label {
  color: var(--b);
}
body main .container-split .col-content .wrapper-content .array-content table thead .row_table_def,
body main .container-split .col-content .wrapper-content .array-content table tfoot .row_table_def {
  width: 100%;
  text-transform: capitalize;
}
body main .container-split .col-content .wrapper-content .array-content table thead th,
body main .container-split .col-content .wrapper-content .array-content table tfoot th {
  padding: 1em;
  white-space: nowrap;
}
body main .container-split .col-content .wrapper-content .array-content .table_crypto.hidden {
  display: none;
}
body main .container-split .col-content .wrapper-content .grid_crypto {
  min-height: 20vh;
  background: red;
}
body main .container-split .col-content .wrapper-content .grid_crypto.hidden {
  display: none;
}
body main footer {
  width: 100%;
  color: var(--b);
  background: var(--hf-color);
  border-top: 1px solid var(--btn-main-bg);
  display: flex;
  justify-content: center;
  padding: 1em 0;
}
body main footer .footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  width: var(--width-page);
  gap: 1em;
}
body main footer .footer-container .top-line,
body main footer .footer-container .bottom-line {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
  width: 100%;
}
body main footer .footer-container .top-line .buttons,
body main footer .footer-container .bottom-line .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}
body main footer .footer-container .top-line .buttons .telegram,
body main footer .footer-container .top-line .buttons .x-com,
body main footer .footer-container .bottom-line .buttons .telegram,
body main footer .footer-container .bottom-line .buttons .x-com {
  width: fit-content;
}
@media all and (max-width: 450px) {
  body main footer .footer-container .top-line,
  body main footer .footer-container .bottom-line {
    flex-direction: column;
    gap: 1em;
  }
}
body main footer .footer-container .col-left-footer {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
body main footer .footer-container .col-left-footer .brand-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  gap: 0.5em;
}
body main footer .footer-container .col-left-footer .brand-container img {
  max-width: 1em;
}
body main footer .footer-container a {
  text-decoration: none;
  color: var(--active-color);
}
body main .btn-main {
  width: 100%;
  appearance: none;
  background-color: var(--w);
  border: 1px solid var(--btn-main-bg);
  border-radius: 6px;
  box-shadow: rgba(226, 226, 226, 0.04) 0 1px 0, rgba(226, 226, 226, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: var(--b);
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 0.5em 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 1em;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
body main .btn-main.no-click {
  cursor: default;
}
body #modal {
  flex-direction: column;
  gap: 1em;
  position: fixed;
  border-radius: var(--br);
  color: var(--b);
  padding: 0.5em;
  background: var(--hf-color);
  border: 1px solid var(--rgb_border);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
body #modal .container-header,
body #modal .container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
body #modal .container-header {
  gap: 1em;
  white-space: nowrap;
}
body #modal .container-header .close-btn {
  background: var(--btn-main-bg);
  border-radius: 1000px;
  aspect-ratio: 1;
  width: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body #modal .container-content {
  flex-direction: column;
  width: 100%;
  gap: 1em;
}
body #modal .container-content button {
  cursor: pointer;
  justify-content: center;
  background: var(--active-color);
  color: var(--w);
}
body #modal .btn-main {
  width: 100%;
  appearance: none;
  background-color: var(--btn-main-bg);
  border: 1px solid rgba(var(--rgb_border_nc)/15%);
  border-radius: 6px;
  box-shadow: rgba(var(--rgb_border_nc)/4%) 0 1px 0, rgba(var(--rgb_nc)/25%) 0 1px 0 inset;
  box-sizing: border-box;
  color: var(--b);
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 0.5em 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 1em;
  position: relative;
  /*transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);*/
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}