*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

*.hidden{display: none!important;}
@mixin outline{
  outline: 2px solid var(--active-color);
  outline-offset: 2px;
}

@mixin card{
  background: var(--hf-color-op);
  border-radius: var(--br);
  padding: 1em;
  border: 1px solid var(--w);
}
.swal2-container{z-index: 99999}
.swal2-popup{top: var(--height-header);}

@mixin centerFlex{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
body{
  font-family: 'Noto Sans Mende Kikakui', sans-serif;
  @media all and (min-width: 1400px) {
    --width-page:70%;
  }
  @media all and (max-width: 800px) {
    --width-page:95%;
  }
  
  main{
    --br: 8px;
    width: 100%;
    min-height: 100svh;
    @include centerFlex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-color);

    a{
      text-decoration: none;
      color: inherit;
    }

    header{
      height: var(--height-header);
      display: flex;  
      width: 100%;
      border-bottom: 1px solid var(--rgb_border);
      padding: 1em 0;
      color: var(--b);
      position: sticky;
      top: 0;
      background: var(--hf-color);
      z-index: 9999;
      @media all and (max-width: 500px) {
        --height-header: auto;
        .hamburger-menu{font-size: 0.9em}
        .brand-container{font-size: 0.8em}
      }

      .hamburger-menu{
        position: relative;
        .info-more{
          width: 2em;
          cursor: pointer;
          border-radius: 1000px;
          aspect-ratio: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--btn-main-bg);
          @media (pointer: fine) {
            &:hover{@include outline}
          }
        }
        .hb-container{
          position: absolute;
          background: var(--w);
          padding: .2em;
          border-radius: var(--br);
          margin-top: .5em;
          right: 0;
          list-style: none;
          z-index: 9999;
          min-width: 20vw;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          @media all and (max-width: 500px){font-size: 1.2em}
          li{
            &.no-effect{
              border-bottom: 1px solid var(--card-g-l);
              padding: .5em;
            }
          }
          li:not(.no-effect),
          label,
          a{
            white-space: nowrap;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 1em;
            input{display: none}
            .tog_dm_icon{
              transition: .5s;
              &.rotate180{rotate: 180deg;}
            }
            @media (pointer: fine) {
              &:hover{
                background: var(--hf-color);
              }
            }
          }
          label,
          a{
            padding: .5em;
            width: 100%;
            height: 100%;
            padding: .5em;
          }
        }
      }
      .wrapper-header{
        @include centerFlex;
        width: var(--width-page);
        margin: auto;
        padding: 0;
        justify-content: space-between;
        // width: 100%;
        .brand-container{
          @include centerFlex;
          flex-direction: row;
          gap: 1em;
          padding: 0.2em;
          border-radius: var(--br);
          @media (pointer: fine) {
            &:hover{background: var(--w)}
          }
          a{font-size: 1.2em}
          img{max-width: 2em}
        }
        label.search-bar{
          margin-left: auto;
          display: flex;
          visibility: hidden;
          @media all and (max-width: 550px) {
            display: none;
          }
          input{
            font-size: 15px;
            padding: .3em .8em;
            border: 1px solid #e2e2e2;
            border-radius: 1000px;
            outline: none;
            width: 100%;
          }
        }
        @media all and (max-width: 550px) {
          label{width: 100%}
        }
      }
    }

    .new{
      background-image: url('/resources/img/bg-dark.svg');
      background-repeat: no-repeat;
      background-position: right;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      border: 1px solid var(--btn-main-bg);
      border-radius: var(--br);
      padding: 1em;
      width: var(--width-page);
      margin: 2em 0 0;
      color: var(--white);
      .top-line{
        @include centerFlex();
        justify-content: space-between;
        .close-banner{
          cursor: pointer;
          border-radius: 1000px;
          aspect-ratio: 1;
          width: 1.5em;
          @include centerFlex();
          @media (pointer: fine) {
            &:hover{
              background: var(--hf-color-op);
              color: var(--b);
            }
          }
        }
      }
      .buttons{
        @include centerFlex();
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 1em 0 0;
        gap: 1em;
        .btn-main{
          width: fit-content;
          &.box-dashed{
            overflow: hidden;
            padding: .2em;
            background: repeating-linear-gradient(-45deg, orange, orange 5px, #000 5px, #000 15px);
            span{
              padding: .3em .8em;
              border-radius: 2px;
              background: var(--w);
            }
          }
        }
      }
    }

    .title-container{
      &.max{
        margin-top: 0;
        display: flex;
        align-items: baseline;
        gap: 0.5em;
        overflow: auto;
        padding-bottom: .5em;
      }
      &.logo{
        align-items: center;
        img{
          width: 1.4em;
          border-radius: var(--br);
        }
      }
      color: var(--white);
    }

    .head-layout-crypto{
      width: var(--width-page);
      margin: 2em 0;
      .duplicated-info{
        margin-top: 1em;
        .duplicated-info-container{
          overflow-y: auto;
          display: flex;
          flex-direction: row;
          gap: 1em;
          padding-bottom: .5em;
          .duplicated-info-card{
            @include centerFlex();
            gap:.5em;
            background: var(--card-g-l);
            border-radius: 1000px;
            padding: .2em .5em;
            border: 1px solid var(--btn-main-bg);
            color: var(--b);
          }
        }
      }
      @media all and (min-width: 700px) {
        .duplicated-info{display: none}
      }
    }

    .container-split{
      --gap-side-bar:2em;
      margin-top: 3em;

      .grey{color: var(--grey)}

      &.crypto{
        margin-top: 0;
        &.no-more-info{
          grid-template-columns: 1fr;
          margin-bottom: auto;
        }
        @media all and (min-width: 700px) {
          margin-bottom: auto;
        }
      }

      display: grid;
      grid-template-columns: var(--width-left-column) calc(100% - var(--width-left-column) - var(--gap-side-bar));
      grid-gap: var(--gap-side-bar);
      width: var(--width-page);

      @media all and (max-width: 700px) {
        grid-template-columns:100%;
        .col-more-info{display: none}
      }
      .col-more-info{
        width: 100%;
        height: 100%;

        .content-displayed{
          position: sticky;
          top: calc(var(--height-header) + var(--margin-from-header));
          height: fit-content;
          overflow: hidden;
          display: flex;
          gap: 1em;
          flex-direction: column;
          margin-bottom: 3em;
          .w_bg{
            padding: .5em;
            color: var(--b);
            background: var(--w);
            border-radius: var(--br);
            display: flex;
            flex-direction: column;
            gap: 1em;
            max-height: 70vh;
            border: 1px solid var(--btn-main-bg);
            .summary{
              @include centerFlex;
              flex-direction: column;
              align-items: flex-start;
              overflow-y: auto;
              justify-content: flex-start;
              padding-right: .5em;
              gap: 1em;
              .container{
                display: flex;
                flex-direction: column;
                align-items: stretch;
                .h4{font-size: 1.1em}
                .h5{
                  font-size: .9em;
                  margin: .5em 1em 0;
                }
                .h4,
                .h5{
                  border-radius: calc(var(--br)/2);
                  padding: 0.2em;
                  &.clicked{
                    text-decoration: underline;
                  }
                  @media (pointer: fine) {
                    &:hover{
                      background: var(--hf-color);
                    }
                  }
                }
              }
            }
            .crypto-info{
              min-height: 40vh;
              .crypto-info-top-container{
                @include centerFlex();
                gap: 1em;
                flex-direction: column;
                align-items: flex-end;
                .crypto-info-top-line,
                .crypto-info-line{
                  @include centerFlex();
                  flex-wrap: wrap;
                  justify-content: flex-end;
                  align-items: baseline;
                  gap: .5em;
                  width: 100%;
                  .top-line-fc{
                    @include centerFlex();
                    flex-basis: 100%;
                    gap: .5em;
                  }
                  &:first-child{
                    background: var(--hf-color);
                    padding: 0.5em;
                    border-radius: 3px;
                    [class$="-label"]:after{
                      display: none;
                    }
                  }
                  [class$="-label"]{
                    flex-basis: 100%;
                    position: relative;
                    &:after{
                      position: absolute;
                      width: -webkit-fill-available;
                      content: " ";
                      background: var(--card-g-l);
                      height: 2px;
                      translate: 0 -50%;
                      top: 50%;
                      margin-left: 1em;
                      border-radius: 1000px;
                    }
                  }
                  .bold{font-weight: bold}
                }
              }
            }
            h3{
              display: flex;
              align-items: center;
              gap: .5em;
              // color: var(--text-aside);
              background: var(--bg-color);
              border-radius: 4px;
              color: var(--white);
              padding: 0.5em;
            }
            .user-trends{
              overflow-y: auto;
              display: flex;
              flex-direction: row;
              gap: 1em;
              padding-bottom: .5em;
              .user-trend-card{
                &[data-value="init"]{display: none}
                position: relative;
                font-weight: bold;
                min-width: var(--card-aside-user-trends);
                aspect-ratio: 1;
                cursor: pointer;
                background: linear-gradient(135deg, #7bbfdd 0%, #1b346c 100%);
                border-radius: 6px;          
                overflow: hidden;
                display: flex;
                align-items: flex-end;
                .user-trend-card-nb{
                  position: absolute;
                  background: var(--w);
                  aspect-ratio: 1;
                  width: 100%;
                  border-radius: 1000px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  top: -30px;
                  right: -30px;
                  font-size: 5em;
                  opacity: .2;
                }
                .user-trend-card-container{
                  @include centerFlex();
                  align-items: flex-start;
                  justify-content: flex-end;
                  flex-direction: column;
                  margin: .5em;
                  color: var(--w);
                  .user-trend-card-name{
                    font-size: 1.8em;
                  }
                  .user-trend-card-value{
                    font-size: 1.2em;
                    margin-left: 0.8em;
                    position: relative;
                    &::before{
                      position: absolute;
                      content: "";
                      top: 50%;
                      left: 0;
                      width: 10%;
                      aspect-ratio: 1;
                      border-radius: 1000px;
                      translate: -0.5em -50%;
                    }
                    &.up{&::before{background: var(--up)}}
                    &.down{&::before{background: var(--down)}}
                  }
                }
              }
            }
            .settings-bar-table{
              display: flex;
              justify-content: space-between;
              // width: var(--width-page);
              // width: 100%;
              overflow-x: auto;
              padding-bottom: .5em;
              @media all and (max-width: 450px) {
                padding-bottom: .5em;
              }
      
              #select_table{display: none}
              .type-table-toggle{
                display: none;
                padding: .5em
              }
              .col-left-sc{
                @include centerFlex;
                gap: 1em;
                .card-sh{
                  // background: var(--hf-color);
                  // border: 1px solid #eff1f4;
                  border: 1px solid var(--bg-color);
                  border-radius: 1000px;
                  padding: .2em .5em;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: space-evenly;
                  padding: .2em;
                  padding-right: 0.5em!important;
                  gap: 0.5em;
                  white-space: nowrap;
                  span{
                    background: var(--w);
                    border-radius: 10000px;
                    aspect-ratio: 1;
                    width: 1.5em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }
                  @media (pointer: fine) {
                    &:hover{
                      background: var(--w);
                      // border: 1px solid var(--active-color);
                      cursor: pointer;
                      // span{
                      //   background: rgb(92 170 255);
                      // }
                    }
                  }
                }
              }
            }
          }
        }

      }
      .col-content{
        width: 100%;
        height: 100%;
        .info-crypto{
          margin-bottom: 2em;
          @include card;
          h2{
            margin-bottom: 1em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5em;
            .info-crypto-text{margin-right: auto;}
            .read-more{
              width: fit-content;
            }
          }
          .description-text{
            text-align: justify;
            ul{margin: 1em 0 1em 1em}
            h3{margin: 1em 0}
          }
          .more {display: none;}
        }
        .privacy-content{
          color: var(--white);
          margin-bottom: 3em;
          text-align: justify;
          h1, h2, h3, h4, h5, h6, li, p {
            margin: 0 0 1em;
          }
          h2, h3{
            border-radius: var(--br);
            position: relative;
            &::before{
              position: absolute;
              content: "";
              top: 50%;
              left: -.5em;
              width: 10%;
              max-width: 8px;
              aspect-ratio: 1;
              border-radius: 1000px;
              translate: -0.5em -50%;
            }
            &:target {
              margin-left: 1em;
              &::before{background: var(--active-color)}
            }
          }
          ul{margin: 2em 1em 2em 3em}
          span{
            background: #86d1eb45;
            border-radius: calc(var(--br)/2);
            padding: 0 0.2em;
          }
          .header-privacy{
            @include centerFlex;
            justify-content: space-between;
            align-items: flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
            margin-bottom: 1em;
            gap: 1em;
            *{margin: 0;}
            .date{
              background: var(--hf-color-op);
              padding: 0.5em;
              border-radius: var(--br);
              color: var(--b);
            }
          }
        }
        .wrapper-content{
          gap: 1em;
          color: var(--b);
          &.top{margin: 0}
          &.array{
            // .dataTables_scroll{margin-top: 0!important;}
            .description-array-crypto{display: none;}
            p:not(.error-loading-data-text){color: var(--white)}
            margin-top: 0;
            margin-bottom: 2em;
          }
          &.title{
            border-top: 1px solid var(--w);
            margin-bottom: 0;
            h2{margin-top: 1em}
          }
          &.table{margin-top: 1em}
          margin: 3em 0;
          display: flex;
          flex-direction: column;
          .top-content{
            @include centerFlex;
            gap: 2em;
            flex-direction: column;
            margin-bottom: 1em;
            .duplicated-user-trends{
              display: none;
              width: 100%;
              h2{
                display: flex;
                align-items: center;
                gap: 0.5em;
                color: var(--white);
                margin-bottom: .5em;
              }
              .user-trends-dup{
                overflow-y: auto;
                display: flex;
                flex-direction: row;
                gap: 1em;
                padding-bottom: .5em;
                .user-trend-card{
                  &[data-value="init"]{display: none}
                  position: relative;
                  font-weight: bold;
                  min-width: var(--card-aside-user-trends);
                  aspect-ratio: 1;
                  cursor: pointer;
                  background: linear-gradient(135deg, #7bbfdd 0%, #1b346c 100%);
                  border-radius: 6px;          
                  overflow: hidden;
                  display: flex;
                  align-items: flex-end;
                  .user-trend-card-nb{
                    position: absolute;
                    background: var(--w);
                    aspect-ratio: 1;
                    width: 100%;
                    border-radius: 1000px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: -30px;
                    right: -30px;
                    font-size: 5em;
                    opacity: .2;
                  }
                  .user-trend-card-container{
                    @include centerFlex();
                    align-items: flex-start;
                    justify-content: flex-end;
                    flex-direction: column;
                    margin: .5em;
                    color: var(--w);
                    .user-trend-card-name{
                      font-size: 1.8em;
                    }
                    .user-trend-card-value{
                      font-size: 1.2em;
                      margin-left: 0.8em;
                      position: relative;
                      &::before{
                        position: absolute;
                        content: "";
                        top: 50%;
                        left: 0;
                        width: 10%;
                        aspect-ratio: 1;
                        border-radius: 1000px;
                        translate: -0.5em -50%;
                      }
                      &.up{&::before{background: var(--up)}}
                      &.down{&::before{background: var(--down)}}
                    }
                  }
                }
              }
              @media all and (max-width: 500px) {
                display: block;
              }

            }
            .trending-content{
              @include centerFlex;
              flex-direction: column;
              gap: 1em;
              align-items: flex-start;
              width: 100%;
              i.fa-fire{color: #FBE5A2}
              .line-content-trend{
                @include centerFlex;
                width: 100%;
                border: 1px solid transparent;
                justify-content: flex-start;
                flex-direction: row;
                overflow: hidden;
                border-radius: var(--br);
                background: var(--card-g-l);
                border: 1px solid var(--btn-main-bg);
                color: var(--b);
                .container-overflow{
                  overflow-y: auto;
                  display: inline-flex;
                  gap: 2em;
                  padding: .5em;
                }
                .trends-e{
                  @include centerFlex;
                  white-space: nowrap;
                  gap: .5em;
                  border: 1px solid transparent;
                  padding: .2em;
                  border-radius: 1000px;
                  .col{
                    @include centerFlex;
                    white-space: nowrap;
                    gap: .5em;
                    padding: .2em .5em;
                    border-radius: 1000px;
                    &.up{background: var(--up)!important}
                    &.down{background: var(--down)!important}
                    color: var(--white);
                  }
                  @media (pointer: fine) {
                    &:hover{
                      background: var(--w);
                      // border: 1px solid var(--active-color);
                      cursor: pointer;
                    }
                  }
                }
              }
            }
            .gain-lose-content{
              @include centerFlex;
              @media all and (max-width: 1000px) {
                flex-direction: column;
              }

              // @container (min-width: 700px) {
              //   flex-direction: column;
              //   background: blue;
              // }

              gap: 1em;
              width: 100%;
              .col{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1em;
                i.fa-circle-arrow-up{color: var(--up)}
                i.fa-circle-arrow-down{color: var(--down)}
                .card-content-gainers,
                .card-content-losers{
                  --padd: 5px;
                  --br: 5px;
                  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                  padding: var(--padd);
                  border: 1px solid var(--btn-main-bg);
                  border-radius: calc(var(--padd) + var(--br));
                  background: var(--hf-color-op);
                  display: flex;
                  flex-direction: column;
                  gap: .5em;
                  .line{
                    @include centerFlex;
                    flex-direction: row;
                    justify-content: flex-start;
                    border: 1px solid transparent;
                    border-radius: var(--br);
                    padding: 6px 14px;
                    position: relative;
                    .stock-title{color: #939393}
                    & .right{
                      margin-left: auto;
                      position: absolute;
                      background: var(--card-g-l);
                      padding: 0.2em;
                      border-radius: 4px;
                      right: 2px;
                      height: 100%;
                      &.up{color: var(--up)}
                      &.down{color: var(--down)}
                    }
                    & .left, & .right{
                      @include centerFlex;
                      flex-direction: row;
                      gap: .5em;
                    }
                    @media (pointer: fine) {
                      &:hover{
                        background: var(--w);
                        cursor: pointer;
                        & .right{
                          background: var(--w);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
    
          .container-error{
            @include centerFlex;
            gap:1em;
            background: var(--w);
            padding: 1em;
            border-radius: var(--br);
            color: var(--error);
          }
    
          .array-content{
            width: 100%;
            min-height: 60vh;
            #table_crypto_wrapper{
              td:first-child {text-align: center}
            }
            #table_crypto_wrapper,
            #table_crypto_unique_wrapper{
              display: flex;
              flex-direction: column;
              .dataTables_paginate{
                position: relative;
                display: flex;
                justify-content: space-between;
                background: var(--hf-color);
                color: var(--b);
                border-radius: var(--br);
                padding: .5em;
                border:1px solid var(--btn-main-bg);
                .paginate_button{
                  cursor: pointer;
                  color: var(--b)!important;
                  border-radius: 1000px;
                  &:hover{@include outline}
                  &:hover,
                  &:active{
                    border: 1px solid var(--card-g-l);
                    background: var(--hf-color);
                    box-shadow: none;
                    color: var(--b)!important;
                  }
                }
                .element_icon{
                  position: absolute;
                  top: -0.8em;
                  right: -0.8em;
                  background-color: var(--w);
                  cursor: pointer;
                  border: 1px solid var(--card-g-l);
                  width: 2em;
                  @include centerFlex();
                  border-radius: 1000px;
                  aspect-ratio: 1;
                  i{
                    transition: .2s;
                    &.unpin{rotate: 45deg}
                  }
                }
                &.pin-dock{
                  position: sticky;
                  bottom: 1em;
                }
              }
              .dataTables_info{
                text-align: end;
                margin: 0 0 1em;
                padding: 0;            
              }
              label{
                select{
                  background: var(--w);
                  color: var(--b);
                }
              }
              .dataTables_info{
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
              }
              .dataTables_length,
              .dataTables_info,
              .dataTables_filter{
                label{
                  color: var(--white);
                  input{
                    background: var(--w);
                    color: var(--b);
                  }
                }
                color: var(--white);
              }
              .dataTables_scroll{
                background: var(--hf-color-op);
                margin: 1em 0;
                border-radius: var(--br);
                overflow: hidden;
                border: 1px solid var(--btn-main-bg);
                .row_table_def{
                  background: var(--w);
                }
                table.dataTable tbody{
                  .dataTables_empty{color: var(--error)}
                  tr {
                    background-color: transparent;
                    cursor: pointer;
                    &:hover{
                      background: var(--w);
                    }
                    &.selected *{
                      box-shadow: inset 0 0 0 9999px var(--active-color)!important;
                      background: var(--active-color)!important;
                    }   
                  }
                }
              }
            }

            #table_crypto_unique_wrapper{
              @include card;
              .dataTables_length,
              .dataTables_info,
              .dataTables_filter{
                label{
                  color: var(--b);
                }
                color: var(--b);
              }
            }

            table{
              thead,
              tfoot{
                .row_table_def{
                  width: 100%;
                  text-transform: capitalize;
                }
                th{white-space: nowrap}
              }
              tfoot{
                th{padding: 1em;}
              }
            }
            // .dataTables_length,
            // #table_crypto_filter,
            // .dataTables_paginate,
            // .dataTables_info{
            //   display: none;
            // }
    
            .table_crypto{
              &.hidden{display: none}
            }
          }
          .grid_crypto{
            &.hidden{display: none}
            min-height: 20vh;
            background: red;
          }
        }
      }
    }

    footer{
      width: 100%;
      color: var(--b);
      background: var(--hf-color);
      border-top: 1px solid var(--btn-main-bg);
      display: flex;
      justify-content: center;
      padding: 1em 0;
      .footer-container{
        @include centerFlex;
        justify-content: space-between;
        flex-direction: column;

        .top-line,
        .bottom-line{
          @include centerFlex;
          flex-wrap: wrap;
          gap: 1em;
          justify-content: space-between;
          width: 100%;

          .buttons{
            @include centerFlex();
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1em;
            .btn-main{
              width: fit-content;
            }
          }

          @media all and (max-width: 450px) {
            flex-direction: column;
            gap: 1em;
          }
        }


        width: var(--width-page);
        gap: 1em;
        .col-left-footer{
          display: flex;
          flex-direction: row;
          gap: 1em;
          .brand-container{
            @include centerFlex;
            flex-direction: row;
            gap: .5em;
            img{max-width: 1em}
          }
        }
        a{
          text-decoration: none;
          color: var(--active-color);
        }
      }
    }

    .btn-main {
      &.no-click{cursor: default}
      width: 100%;
      appearance: none;
      background-color: var(--w);
      // border: 1px solid rgba(226 226 226 / 100%);
      border: 1px solid var(--btn-main-bg);
      border-radius: 6px;
      box-shadow: rgba(226 226 226 / 4%) 0 1px 0, rgba(226 226 226 / 25%) 0 1px 0 inset;
      box-sizing: border-box;
      color: var(--b);
      cursor: pointer;
      font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      list-style: none;
      padding: .5em 1em;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      gap: 1em;
      position: relative;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      white-space: nowrap;
      word-wrap: break-word;
    }
  }
  #modal {
    flex-direction: column;
    gap: 1em;
    position: fixed;
    border-radius: var(--br);
    color: var(--b);
    padding: .5em;
    background: var(--hf-color);
    border: 1px solid var(--rgb_border);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    .container-header,
    .container-content{
      @include centerFlex();
    }
    .container-header{
      gap: 1em;
      white-space: nowrap;
      .close-btn{
        background: var(--btn-main-bg);
        border-radius: 1000px;
        aspect-ratio: 1;
        width: 1.6em;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
    .container-content{
      flex-direction: column;
      width: 100%;
      gap: 1em;
      button{
        cursor: pointer;
        justify-content: center;
        background: var(--active-color);
        color: var(--w);
      }
    }
    .btn-main {
      width: 100%;
      appearance: none;
      background-color: var(--btn-main-bg);
      border: 1px solid rgba(var(--rgb_border_nc) / 15%);
      border-radius: 6px;
      box-shadow: rgba(var(--rgb_border_nc) / 4%) 0 1px 0, rgba(var(--rgb_nc) / 25%) 0 1px 0 inset;
      box-sizing: border-box;
      color: var(--b);
      cursor: pointer;
      font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      list-style: none;
      padding: .5em 1em;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      gap: 1em;
      position: relative;
      /*transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);*/
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      white-space: nowrap;
      word-wrap: break-word;
    }
  }
}