.settings-bar-table::-webkit-scrollbar,
.user-trends::-webkit-scrollbar,
.summary::-webkit-scrollbar,
.user-trends-dup::-webkit-scrollbar,
.duplicated-info-container::-webkit-scrollbar,
.dataTables_scrollBody::-webkit-scrollbar,
.suggested-currency::-webkit-scrollbar,
.container-overflow::-webkit-scrollbar {
    height: .4em;
}
.title-container.max::-webkit-scrollbar{
    height: .2em;
}

.summary::-webkit-scrollbar{
    width: .3em;
}

.user-trends-dup::-webkit-scrollbar-track,
.duplicated-info-container::-webkit-scrollbar-track,
.settings-bar-table::-webkit-scrollbar-track,
.user-trends::-webkit-scrollbar-track,
.summary::-webkit-scrollbar-track,
.title-container.max::-webkit-scrollbar-track,
.suggested-currency::-webkit-scrollbar-track,
.container-overflow::-webkit-scrollbar-track {
    background: transparent;
    padding: 1em;
}
.user-trends-dup::-webkit-scrollbar-thumb,
.duplicated-info-container::-webkit-scrollbar-thumb,
.summary::-webkit-scrollbar-thumb,
.settings-bar-table::-webkit-scrollbar-thumb,
.dataTables_scrollBody::-webkit-scrollbar-thumb,
.user-trends::-webkit-scrollbar-thumb,
.title-container.max::-webkit-scrollbar-thumb,
.suggested-currency::-webkit-scrollbar-thumb,
.container-overflow::-webkit-scrollbar-thumb {
    background-color: var(--w);
    border-radius: 1000px;
    cursor: pointer;
}
.settings-bar-table::-webkit-scrollbar-thumb,
.suggested-currency::-webkit-scrollbar-thumb,
.user-trends::-webkit-scrollbar-thumb{
    background-color: var(--card-g-l);
}

:root{
    /* USED EVERYWHERE */
    --rgb: var(--tinted-main-light-color);
    --rgb_alt: var(--tinted-main-dark-color);
    --rgb_active: var(--active-light-color);
    /* HEADER */
    --hf-color: rgba(var(--tinted-second-light-color) / 98%);
    --active-color: rgba(var(--rgb_active) / 100%);
    --hf-color-op:rgba(var(--tinted-second-light-color) / 80%);
    --margin-from-header: 2em;
    /* --- */
    --w: rgba(var(--rgb) / 100%);
    --b: rgba(var(--rgb_alt) / 100%);
    --error: rgba(var(--error-color) / 100%);
    --dark:#2f2f2f;
    --white: #ececec;
    --rgb_border_nc: 27 31 35;
    --rgb_border: rgba(var(--border-of-elements-dark-color) / 100%); 
    --btn-main-bg: rgba(var(--rgb) / 100%);
    --card-g-l: #c6cfd9;
    --text-aside:var(--bg-color);
    --grey:#808080fa;
    --star:#ffd700;
}

.toggle_dark_mode{
    --rgb: var(--tinted-main-dark-color);
    --rgb_alt: var(--tinted-main-light-color);
    --hf-color: rgba(var(--tinted-second-dark-color) / 98%);
    --hf-color-op:rgba(var(--tinted-second-dark-color) / 80%);
    --rgb_active: var(--active-dark-color);
    --rgb_border: rgba(var(--border-of-elements-light-color) / 100%); 
    --card-g-l: #293848;
    --text-aside:#86d1eb;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--height-header) + var(--margin-from-header));
}