*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

*.hidden{display: none!important;}

@mixin centerFlex{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
body{
  font-family: 'Noto Sans Mende Kikakui', sans-serif;

  --width-page:80%;
  --width-page-large:90%;
  --active-color:#073863;
  --dark:#2f2f2f;
  --white: #ececec;

  @media all and (min-width: 1400px) {
    --width-page:50%;
  }
  @media all and (max-width: 600px) {
    --width-page:95%;
  }
  main{
    width: 100%;
    @include centerFlex;
    flex-direction: column;

    header{
      width: 100%;
      border-bottom: 1px solid #e2e2e2;
      padding: 1em 0;
      position: sticky;
      top: 0;
      background: white;
      z-index: 9999;
      .wrapper-header{
        @include centerFlex;
        padding: 0 1em;
        width: 100%;
        .brand-container{
          @include centerFlex;
          flex-direction: row;
          gap: 1em;
          img{max-width: 1.5em}
        }
        label.search-bar{
          margin-left: auto;
          display: flex;
          input{
            font-size: 15px;
            padding: .3em .8em;
            border: 1px solid #e2e2e2;
            border-radius: 1000px;
            outline: none;
            width: 100%;
          }
        }
        @media all and (max-width: 550px) {
          flex-direction: column;
          gap: 1em;
          label{width: 100%}
        }
      }
    }
    .wrapper-content{
      width: var(--width-page);
      margin: 1em 0 5vh;

      .top-content{
        @include centerFlex;
        gap: 1em;
        flex-direction: column;
        .trending-content{
          @include centerFlex;
          justify-content: flex-start;
          width: 100%;
          background: red;
        }
        .gain-lose-content{
          @include centerFlex;
          @media all and (max-width: 550px) {
            flex-direction: column;
          }
          gap: 1em;
          width: 100%;
          .col{
            width: 100%;
            background: blue;
          }
        }
      }
      .array-content{
        margin-top: 1em;
        width: 100%;
        min-height: 40vh;
        background: green;
      }
    }

    footer{
      @include centerFlex;
      flex-direction: row;
      padding: 1em;
      background: var(--white);
      width: 100%;
      gap: 1em;
      .brand-container{
        @include centerFlex;
        flex-direction: row;
        gap: .5em;
        img{max-width: 1em}
      }
      a{
        text-decoration: none;
        color: var(--active-color);
      }
    }

    .btn-main {
      &.no-click{cursor: default}
      width: 100%;
      appearance: none;
      background-color: var(--w);
      border: 1px solid rgba(226 226 226 / 100%);
      border-radius: 6px;
      box-shadow: rgba(226 226 226 / 4%) 0 1px 0, rgba(226 226 226 / 25%) 0 1px 0 inset;
      box-sizing: border-box;
      color: var(--b);
      cursor: pointer;
      font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      list-style: none;
      padding: .5em 1em;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      gap: 1em;
      position: relative;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      white-space: nowrap;
      word-wrap: break-word;
    }
  }
}